*{
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box
}
.block{
    width: 30%;
    height: 100vh;
    background-color: red;
    /* vh - область нашого бачення */
position: relative;
    /* приховали всю нашу ширину */
    transform: translateX(-90%);
    transition: transform .5s linear;
}
.block:hover{
transform: translateX(0%);
}
.menu-here{
position: absolute;
font-size: 22px;
top: 50%;
left: 50%;
/* right: -52%; */
transform: rotate(90deg) translate(-50%);
transition: opacity 0.25s linear;
}
.block:hover .menu-here{
    opacity: 0;
}
.button{
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* назва яка каже яку анімацію використовувати - назва анімації */
    animation-name: bounceShoc;

    /* animation-duration - тривалість анімації */
    animation-duration: 1s;

    /* animation-timing-function - поводження в часі під час анімації */
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

    /* animation-iteration-count властивість яка дозволяє вказати кількість повторень анімацій */
    animation-iteration-count: infinite;

    /* animation-direction - вказує як буде поводитись анімаію (зривками або без зривками) */
    animation-direction: alternate-reverse;
    
    animation-fill-mode: both;
}
/* @keyframes-ключові кадри  */
@keyframes bounceShoc{
/* 0% = from
100% = to */
from{
    background-color: aqua;
    top: 50%;
    left: 50%;
}
to{
    background-color: brown;
    top: 40%;
    left: 40%;
}



}